@import '../../../common/stylesheets/base/color.scss';
@import '../../../common/stylesheets/base/font.scss';
@import '../../../common/stylesheets/base/mixin.scss';
@import '../../../common/stylesheets/base/variable.scss';
@import '../../../common/stylesheets/base/keyframes.scss';
html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
.container {
	width: 100%;
	position: relative;
	margin-top: -8.25rem;
	z-index: 1;
	.banner {
		width: 100%;
		height: 62.25rem;
		position: relative;
		.banner-bg {
			width: 100%;
			position: relative;
			img {
				width: 100%;
			}
		}
		.banner-text {
			position: absolute;
			top: 38%;
			width: 100%;
			z-index: 2;
			text-align: center;
			.banner-text__location {
				width: 100%;
				height: 1.75rem;
				display: inline-block;
				position: relative;
				img {
					height: 100%;
					display: inline-block;
					position: absolute;
					top: 0;
					left: 50%;
					@include transform(translate(-50%, 0));
				}
			}
			.banner-text__title {
				font-family: 'Century Gothic';
				font-weight: bold;
				font-size: 5rem;
				line-height: 1;
				color: $white;
				letter-spacing: 2px;
				margin-top: 1rem;
				display: inline-block;
				position: relative;
				&:after {
					content: '';
					width: 100%;
					height: 2px;
					background-color: $white;
					display: inline-block;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			.banner-text__sub {
				font-family: 'Noto Sans KR';
				font-weight: normal;
				line-height: 1;
				color: $white;
				font-size: 1.5rem;
				margin-top: 0.75rem;
			}
		}
	}
	.content-first {
		position: relative;
		width: 100%;
		.content-first__title {
			position: relative;
			width: 76.4%;
			height: 9.375rem;
			display: inline-block;
			margin-left: 23.6%;
			background-color: $white;
			margin-top: -9.375rem;
			@include box-sizing(border-box);
			padding-right: 4%;
			@include flexbox();
			.title-left {
				width: 62%;
				height: 100%;
				display: inline-block;
				position: relative;
				padding-left: 9%;
				@include box-sizing(border-box);
				.title-left__indicator {
					width: 3rem;
					position: relative;
					margin-top: -1.5rem;
					img {
						position: relative;
						width: 100%;
					}
				}
				.title-left__text {
					width: 100%;
					position: relative;
					margin-top: 1.25rem;
					font-size: 2.5rem;
					color: $black;
					font-family: 'Noto Sans KR';
					font-weight: bold;
				}
			}
			.title-right {
				width: 38%;
				height: 100%;
				display: inline-block;
				position: relative;
				margin-top: -4rem;
				.title-right__popup {
					position: relative;
					width: 55%;
					height: 100%;
					margin-right: 45%;
					cursor: pointer;
					img {
						position: relative;
						width: 100%;
					}
				}
				.title-right__plus {
					position: absolute;
					top: 0;
					left: 0;
					background-size: contain;
					background-repeat: no-repeat;
					@include box-sizing(border-box);
					padding: 2%;
					&.hover {
						img {
							@include transform(rotate(90deg));
						}
					}
					img {
						position: relative;
						width: 100%;
						height: auto;
						display: block;
						@include transition(all 0.3s ease);
					}
				}
			}
		}
		.content-first__body {
			position: relative;
			width: 100%;
			img {
				position: relative;
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
	.content-second {
		position: relative;
		width: 100%;
		margin-top: 3rem;
		@include box-sizing(border-box);
		padding: 0 10%;
		.content-second__title {
			position: relative;
			width: 100%;
			text-align: center;
			color: $black;
			font-family: 'Noto Sans KR';
			font-size: 1.75rem;
		}
		.content-second__list {
			position: relative;
			width: 100%;
			@include flexbox();
			@include flex-wrap(wrap);
			@include flex(0 0 auto);
			.showroom {
				position: relative;
				width: calc(100% / 3);
				display: inline-block;
				@include box-sizing(border-box);
				padding: 0 2%;
				cursor: pointer;
				&:hover {
					.showroom-img{
						img {
							@include transform(scale(1.05));
						}
					}
					.showroom-title {
						.showroom-title__plus {
							img {
								@include transform(rotate(90deg));
							}
						}
					}
				}
				.showroom-img{
					position: relative;
					width: 100%;
					height: 15rem;
					overflow: hidden;
					margin-top: 3rem;
					overflow: hidden;
					img {
						position: relative;
						width: 100%;
						display: block;
						@include transition(all 0.3s ease);
					}
				}
				.showroom-title {
					width: 100%;
					height: 2.25rem;
					@include flexbox();
					@include align-items(center);
					margin-top: 1rem;
					.showroom-title__text {
						display: inline-block;
						position: relative;
						width: calc(100% - 2.25rem);
						color: $black;
						font-family: 'Noto Sans KR';
						font-size: 1.125rem;
						cursor: pointer;
						&:hover {
							text-decoration: underline;
						}
					}
					.showroom-title__plus {
						display: inline-block;
						position: relative;
						width: 2.25rem;
						height: 2.25rem;
						img {
							position: relative;
							width: 100%;
							height: auto;
							@include transition(all 0.3s ease);
						}
					}
				}
			}
		}
		.showroom-more {
			margin-top: 4rem;
			width: 17%;
			margin-left: 41.5%;
			height: 4.125rem;
			text-decoration: none;
			cursor: pointer;
			background-color: transparent;
			border: 1px solid $yellow;
			text-align: center;
			font-size: 1rem;
			font-family: 'Noto Sans KR';
			line-height: 4.125rem;
			&:hover {
				background-color: $yellow;
			}
		}
	}
	.gotobanner {
		position: relative;
		width: 100%;
		height: 12vw;
		margin-top: 7vw;
		@include flexbox();
		.goto {
			position: relative;
			width: 50%;
			height: 100%;
			display: inline-block;
			@include box-sizing(border-box);
			padding: 0 10%;
			background-size: cover;
			background-repeat: no-repeat;
			cursor: pointer;
			&.right {
				.goto-title {
					text-align: right;
				}
				.goto-sub {
					text-align: right;
				}
				.goto-arrow {
					margin-left: calc(100% - 3rem);
					img{
						@include transform(rotateY(180deg));
					}
				}
			}
			&:hover {
				.goto-arrow {
					@include transform(translateX(-10px));
				}
				&.right {
					.goto-arrow {
						@include transform(translateX(10px));
					}
				}
			}
			.goto-title {
				position: relative;
				width: 100%;
				font-size: 2.25rem;
				color: $white;
				line-height: 1;
				font-family: 'Century Gothic';
				font-weight: bold;
				margin-top: 2rem;
			}
			.goto-sub {
				position: relative;
				width: 100%;
				font-size: 1.625rem;
				color: $white;
				line-height: 1;
				font-family: 'Noto Sans KR';
				font-weight: 300;
				margin-top: 0.8rem;
			}
			.goto-arrow {
				position: relative;
				width: 3rem;
				height: 2.25rem;
				display: inline-block;
				margin-top: 2.5rem;
				@include transition(all 0.3s ease);
				img {
					position: relative;
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
	html {
		font-size: 14px;
	}
}