@import '../../../common/stylesheets/base/color.scss';
@import '../../../common/stylesheets/base/font.scss';
@import '../../../common/stylesheets/base/mixin.scss';
@import '../../../common/stylesheets/base/variable.scss';
@import '../../../common/stylesheets/base/keyframes.scss';
html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
.container {
	width: 100%;
	overflow-x: hidden;
	position: relative;
	margin-top: -8.25rem;
	z-index: 1;
	.banner {
		width: 100%;
		height: 62.25rem;
		position: relative;
		.banner-bg {
			width: 100%;
			position: relative;
			img {
				width: 100%;
			}
		}
		.banner-text {
			position: absolute;
			top: 38%;
			width: 100%;
			z-index: 2;
			text-align: center;
			.banner-text__location {
				width: 100%;
				height: 1.75rem;
				display: inline-block;
				position: relative;
				img {
					height: 100%;
					display: inline-block;
					position: absolute;
					top: 0;
					left: 50%;
					@include transform(translate(-50%, 0));
				}
			}
			.banner-text__title {
				font-family: 'Century Gothic';
				font-weight: bold;
				font-size: 5rem;
				line-height: 1;
				color: $white;
				letter-spacing: 2px;
				margin-top: 1rem;
				display: inline-block;
				position: relative;
				&:after {
					content: '';
					width: 100%;
					height: 2px;
					background-color: $white;
					display: inline-block;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			.banner-text__sub {
				font-family: 'Noto Sans KR';
				font-weight: normal;
				line-height: 1;
				color: $white;
				font-size: 1.5rem;
				margin-top: 0.75rem;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
	html {
		font-size: 14px;
	}
}