@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@import 'base/variable.scss';
@import 'base/keyframes.scss';
.footer {
	width: 100%;
	position: relative;
	img {
		width: 100%;
		position: relative;
	}
}