@import 'mixin.scss';

@-webkit-keyframes hamburger-menu {
  0%   { width: 0;  }
  100% { width: 40%; }
}
@-moz-keyframes hamburger-menu {
  0%   { width: 0;  }
  100% { width: 40%; }
}
@keyframes hamburger-menu {
  0%   { width: 0;  }
  100% { width: 40%; }
}

@-webkit-keyframes to-right {
  0%   { -webkit-transform:translate(-20px, 0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes to-right {
  0%   { -moz-transform:translate(-20px, 0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,0); opacity: 1; }
}
@keyframes to-right {
  0%   { transform:translate(-20px, 0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,0); opacity: 1; }
}

@-webkit-keyframes to-left {
  0%   { -webkit-transform:translate(20px, 0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes to-left {
  0%   { -moz-transform:translate(20px, 0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,0); opacity: 1; }
}
@keyframes to-left {
  0%   { transform:translate(20px, 0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,0); opacity: 1; }
}

@-webkit-keyframes to-up {
  0%   { -webkit-transform:translate(0, 20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes to-up {
  0%   { -moz-transform:translate(0, 20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,0); opacity: 1; }
}
@keyframes to-up {
  0%   { transform:translate(0, 20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,0); opacity: 1; }
}